# Copyright(c) 2011-2023 The Maintainers of Nanvix.
# Licensed under the MIT License.

# Toolchain Directories
build-binutils
build-gcc
build-gdb
toolchain

# Build artifacts
nanvix.iso
*.a
*.elf
*.o
doc/doxygen

# IDEs
*.swo
*.swp
*.clangd/
*.vscode/
