[submodule "contrib/hal"]
	path = contrib/hal
	url = https://github.com/nanvix/hal.git
[submodule "utils"]
	path = utils
	url = https://github.com/nanvix/utils.git
[submodule "build"]
	path = build
	url = https://github.com/nanvix/build.git
