# Toolchain
utils/toolchain

# Doxygen
doc/html
doxygen.output

# Build Files
bin/
lib/
*.a
*.img
*.o

# Output Files
nanvix-cluster*

# Ctags
tags

# IDEs
*.swp
*.swo
*.vscode/

# HAL Headers
include/arch/
include/grub/
include/machine/
include/nanvix/hal/
include/nanvix/cc.h
include/nanvix/const.h
include/nanvix/klib.h
include/posix/

# Excludes
!img/*
